GhitaArticleRef.tex
*.aux 
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc
*.fls
*.fdb_latexmk
*.bcf
*.bcf-SAVE-ERROR
*.bbl-SAVE-ERROR
*.synctex.gz
*.run.xml
